<div class="text-left">
  <%= link_to flat_path(flat) do  %>
    <img class="card-img-top" src="https://images.unsplash.com/photo-1530398231547-70832467b336?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="height: 100px; object-fit: cover; object-position: center;" alt="Card image cap">
    <div class="px-3 py-2">
      <h6 class="text-color-warm-black mb-0"><%= flat.address %></h6>
      <div class="d-flex justify-content-between mt-2">
        <p class="mb-0">3p</p>
        <p class="mb-0">1000€</p>
      </div>
    </div>
  <% end %>
</div>