<div class="my-5 py-5">
  <div class="row">
    <div class="col">
      <div class="height-90vh" style="background-image: url('<%= image_path "glf2.png" %>'); background-size: cover; background-position: center bottom;">
      </div>
    </div>
    <div class="col">
      <div class="background-color-warm-black p-5">
        <h4 class="font-weight-400 small-text-line-height">Des négociateurs en interne s’occupent de trouver des locataires au plus vite.</h4>
        <h4 class="mt-5 font-weight-400 small-text-line-height">L’accent est mis sur la solvabilité, le contrôle des documents, avec approbation du propriétaire sur la sélection finale des locataires. </h4>
      </div>
    </div>
  </div>
</div>
