<!-- desktop -->
<div class="textphoto-desktop pt-5">
  <div class="row mx-0">
    <div class="col pr-0 pl-0">
      <div class="height-90vh" style="background-image: url('<%= image_path "glf8.png" %>'); background-size: cover; background-position: center bottom;">
      </div>
    </div>
    <div class="col d-flex align-items-center pl-0 pr-0" style="margin-left: -40px;">
      <div class="background-color-warm-black p-5 text-color-white">
        <h3>Développement des  compétences</h3>
        <h4 class="font-weight-400 small-text-line-height m-5">Après une sélection à l’embauche pointue, notre politique de formation permanente assure un développement général et personnel des compétences des collaborateurs.</h4>
      </div>
    </div>
  </div>
</div>

<!-- mobile -->
<div class="textphoto-mobile pt-5">
  <div class="height-40vh" style="background-image: url('<%= image_path "glf8.png" %>'); background-size: cover; background-position: center bottom;">
  </div>
  <div class="d-flex align-items-center">
    <div class="background-color-warm-black p-5 text-color-white">
      <h3>Développement des  compétences</h3>
      <h4 class="font-weight-400 small-text-line-height mb-5">Après une sélection à l’embauche pointue, notre politique de formation permanente assure un développement général et personnel des compétences des collaborateurs.</h4>
    </div>
  </div>
</div>

<!-- ipad -->
<div class="textphoto-ipad">
  <div class="my-5 py-5">
    <div class="row mx-0">
      <div class="col pr-0 pl-0">
        <div class="height-50vh" style="background-image: url('<%= image_path "glf8.png" %>'); background-size: cover; background-position: center bottom;">
        </div>
      </div>
      <div class="col d-flex align-items-center pl-0 pr-0" style="margin-left: -40px;">
        <div class="background-color-warm-black p-4 text-color-white">
          <h3>Développement des  compétences</h3>
          <h4 class="font-weight-400 small-text-line-height m-4">Après une sélection à l’embauche pointue, notre politique de formation permanente assure un développement général et personnel des compétences des collaborateurs.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
