<!-- desktop -->
<div class="textphoto-desktop pt-5">
  <div class="row mx-0">
    <div class="col d-flex align-items-center pl-0 pr-0" style="margin-right: -40px; z-index: 10;">
      <div class="background-color-warm-black p-5 text-color-white">
        <h3 class="mt-5 mx-3">Autonomie et responsabilités</h3>
        <h4 class="font-weight-400 small-text-line-height m-5">L’évaluation annuelle de chaque collaborateur favorise la promotion en interne et la fidélisation des effectifs, dans le but de privilégier l’autonomie et de responsabiliser.</h4>
      </div>
    </div>
    <div class="col pr-0 pl-0">
      <div class="height-90vh" style="background-image: url('<%= image_path "glf9.png" %>'); background-size: cover; background-position: center;">
      </div>
    </div>
  </div>
</div>

<!-- mobile -->
<div class="textphoto-mobile pt-5">
  <div class="d-flex align-items-center">
    <div class="background-color-warm-black p-5 text-color-white">
      <h3>Autonomie et responsabilités</h3>
      <h4 class="font-weight-400 small-text-line-height mb-5">L’évaluation annuelle de chaque collaborateur favorise la promotion en interne et la fidélisation des effectifs, dans le but de privilégier l’autonomie et de responsabiliser.</h4>
    </div>
  </div>
  <div class="height-40vh" style="background-image: url('<%= image_path "glf9.png" %>'); background-size: cover; background-position: center;">
  </div>
</div>

<!-- ipad -->
<div class="textphoto-ipad">
  <div class="my-5 py-5">
    <div class="row mx-0">
      <div class="col d-flex align-items-center pl-0 pr-0" style="margin-right: -40px; z-index: 11;">
        <div class="background-color-warm-black p-4 text-color-white">
          <h3 class="mt-4 mx-3">Autonomie et responsabilités</h3>
          <h4 class="font-weight-400 small-text-line-height m-4">L’évaluation annuelle de chaque collaborateur favorise la promotion en interne et la fidélisation des effectifs, dans le but de privilégier l’autonomie et de responsabiliser.</h4>
        </div>
      </div>
      <div class="col pr-0 pl-0">
        <div class="height-50vh" style="background-image: url('<%= image_path "glf9.png" %>'); background-size: cover; background-position: center;">
        </div>
      </div>
    </div>
  </div>
</div>
