<!-- desktop -->
<div class="textphoto-desktop pt-5">
  <div class="my-5 py-5">
    <div class="row">
      <div class="col pr-0">
        <div class="height-90vh" style="background-image: url('<%= image_path "glf2.png" %>'); background-size: cover; background-position: center bottom;">
        </div>
      </div>
      <div class="col d-flex align-items-center pl-0" style="margin-left: -40px;">
        <div class="background-color-warm-black p-5 text-color-white">
          <h4 class="font-weight-400 small-text-line-height m-5">Des négociateurs en interne s’occupent de trouver des locataires au plus vite.</h4>
          <h4 class="font-weight-400 small-text-line-height m-5">L’accent est mis sur la solvabilité, le contrôle des documents, avec approbation du propriétaire sur la sélection finale des locataires. </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mobile -->
<div class="textphoto-mobile pt-5">
  <div class="height-40vh" style="background-image: url('<%= image_path "glf2.png" %>'); background-size: cover; background-position: center bottom;">
  </div>
  <div class="d-flex align-items-center">
    <div class="background-color-warm-black p-5 text-color-white">
      <h4 class="font-weight-400 small-text-line-height mb-5">Des négociateurs en interne s’occupent de trouver des locataires au plus vite.</h4>
      <h4 class="font-weight-400 small-text-line-height">L’accent est mis sur la solvabilité, le contrôle des documents, avec approbation du propriétaire sur la sélection finale des locataires. </h4>
    </div>
  </div>
</div>

<!-- ipad -->
<div class="textphoto-ipad">
  <div class="my-5 py-5">
    <div class="row">
      <div class="col pr-0">
        <div class="height-50vh" style="background-image: url('<%= image_path "glf2.png" %>'); background-size: cover; background-position: center bottom;">
        </div>
      </div>
      <div class="col d-flex align-items-center pl-0" style="margin-left: -40px;">
        <div class="background-color-warm-black p-4 text-color-white">
          <h4 class="font-weight-400 small-text-line-height m-4">Des négociateurs en interne s’occupent de trouver des locataires au plus vite.</h4>
          <h4 class="font-weight-400 small-text-line-height m-4">L’accent est mis sur la solvabilité, le contrôle des documents, avec approbation du propriétaire sur la sélection finale des locataires. </h4>
        </div>
      </div>
    </div>
  </div>
</div>
