<div style="height: 13vh;"></div>

<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center padding-5-t-b">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Devenir locataire</h1>
<!--   <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100 padding-5-l-r-none-small"> ... </h4>
  </div> -->
</div>

<!-- CTA qui vient se positionner sur la div verte -->


<div class="d-flex justify-content-center margin-top-1-6">
  <a href="https://www.seloger.com/professionnels/agences-immobilieres/paris-3eme-75/agency-54698.htm" target="blank"><div class="button-crimson2 box-shadow-two-black">
    <h5 class="m-0 font-weight-500">Voir nos annonces</h5>
  </div></a>
</div>

<%= render 'shared/numbers' %>
<%= render 'shared/backgroundform' %>

<%= render "messages/contact_form", object: @mail %>
