<div class="my-5 background-color-ghost-white text-center py-4">
  <h2 class="text-uppercase text-color-charleston-green py-4 font-weight-500">Gestion locative</h2>
  <div class="mx-5 px-5 text-color-outer-space pb-4">
    <h4 class="font-weight-400">GLF prend en charge la globalité de la gestion locative de votre bien : recherche de locataires, négociation des renouvellements, signature des baux, quittancement, régularisation des charges, suivi des travaux, suivi des contentieux ... </h4>
  </div>
</div>
<%= render 'shared/numbers' %>
<%= render 'shared/footer' %>

