// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$crimson: #E01534;
$amaranth: #E3314C;
$light-carmine-pink: #E05E71;
$ruddy-pink: #E0909C;


$warm-black: #0B3E4D;
$outer-space: #4B4B4B;
$charleston-green: #2C2C2C;
// $ghost-white: #F5FCFF;
$ghost-white: #eef7f9;
// blanc cassé = egg shell mais c'est déjà une couleur pré-définie du coup je suis partie sur glf white :)
$glf-white: #FEFEFE;

