<div class="banner-desktop">
  <div class="height-75vh d-flex align-items-center" style="background-image: url('<%= image_path "republique.png" %>'); background-size: cover; background-position: center;">
    <div class="col-6 p-5 " style="background-color: rgba(11, 62, 77, 0.7)">
      <h1 class="text-color-white font-size-40px mb-4">L'exigence de la qualité</h1>
      <h2 class="text-color-white font-size-24px font-weight-400">Société spécialisée en gestion locative des locaux commerciaux et habitations en région parisienne depuis plus de 35 ans.</h2>
    </div>
  </div>
  <div class="cta-menu height-9vh">
    <div class="row mx-5">
      <div class="col-sm-6 col-md-3 px-4" style="margin-top: -60px;">
        <div class="background-color-white box-shadow-two-black px-5 py-4 d-flex justify-content-center border-top-5px-crimson">
          <h2 class="font-size-24px">Gestion<br>locative</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 px-4" style="margin-top: -60px;">
        <div class="background-color-white box-shadow-two-black px-5 py-4 d-flex justify-content-center border-top-5px-amaranth">
          <h2 class="font-size-24px">Devenir<br>locataire</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 px-4" style="margin-top: -60px;">
        <div class="background-color-white box-shadow-two-black px-5 py-4 d-flex justify-content-center border-top-5px-light-carmine-pink">
          <h2 class="font-size-24px">Vendre<br>un bien</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 px-4" style="margin-top: -60px;">
        <div class="background-color-white box-shadow-two-black px-5 py-4 d-flex justify-content-center border-top-5px-ruddy-pink">
          <h2 class="font-size-24px">Acheter<br>un bien</h3>
        </div>
      </div>
    </div>
  </div>
</div>
