<div class="py-5 padding-5-l-r background-color-ghost-white">
  <div class="padding-5-l-r">
    <div class="row my-4">
      <div class="col-md-5 mt-md-0 pt-3 pl-0">
        <h3 class="text-color-warm-black">En quelques chiffres</h3>
      </div>
      <div class="col-md-7 mt-md-0 text-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mb-4 pt-3 pl-0" style="position: relative;">
            <div class="d-flex">
              <h2 class="my-auto text-shadow-one-black text-color-charleston-green">5500</h2>
              <h4 class="my-auto ml-3 font-weight-500 text-color-outer-space">locataires</h4>
            </div>
            <h4></h4>
            <div class="border-top-red"></div>
          </div>
          <div class="col-md-6 mt-md-0 mb-4 pt-3 pl-0" style="position: relative;">
            <div class="d-flex">
              <h2 class="my-auto text-shadow-one-black text-color-charleston-green">35</h2>
              <h4 class="my-auto ml-3 font-weight-500 text-color-outer-space">ans</h4>
            </div>
            <h4 class="my-auto font-weight-400 text-color-outer-space">d'expérience</h4>
            <div class="border-top-red"></div>
          </div>
          <div class="col-md-6 mt-md-0 pt-3 pl-0" style="position: relative;">
            <div class="d-flex">
              <h2 class="my-auto text-shadow-one-black text-color-charleston-green">80 M€</h2>
              <h4 class="my-auto ml-3 font-weight-500 text-color-outer-space">de loyers perçus</h4>
            </div>
            <h4 class="my-auto font-weight-400 text-color-outer-space">pour nos locataires</h4>
            <div class="border-top-red"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
