<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center py-5">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Contact</h1>
  <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100">Vous souhaitez nous faire part d’une information, ou effectuer une demande concernant nos services, alors cette page est faite pour vous. </h4>
  </div>
</div>

<!-- div avec les cases -->

<div class="my-5 mx-5">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-10 mt-md-0 text-center py-5 px-5">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12 mt-md-0">
            <div class="float-left card-img-top">
              <%= image_tag "maps.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Nos adresses</h4>
        <a href="https://www.google.com/maps/place/19+Place+de+la+R%C3%A9publique,+75003+Paris/data=!4m2!3m1!1s0x47e66e08cc9338b9:0xc395e631709625bc?sa=X&ved=2ahUKEwi108yclqXjAhVQA2MBHc1xAx8Q8gEwAHoECAoQAQ" target="blank"><h5 class="text-color-outer-space font-weight-100 my-3"><u>19 place de la république, 75003, Paris</u></h5></a>
        <a href="https://www.google.com/maps/place/74+Quai+d'Orsay,+75007+Paris/@48.8622881,2.3031194,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66fdc013e32d5:0x9756b15202868159!8m2!3d48.8622846!4d2.3053081" target="blank"><h5 class="text-color-outer-space font-weight-100 my-3"><u>74 quai d'Orsay, 75007, Paris</u></h5></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-10 mt-md-0 text-center py-5 px-5">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12 mt-md-0">
            <div class="float-left card-img-top">
              <%= image_tag "telephone.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Nous contacter</h4>
        <h5 class="text-color-outer-space font-weight-100 my-3">contact@glf.eu</h5>
        <h5 class="text-color-outer-space font-weight-100 my-3">01 44 18 18 18</h5>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/backgroundform' %>
