<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center py-4">
  <h3 class="text-uppercase text-color-charleston-green py-4 font-weight-500">Recrutement</h3>
  <div class="text-color-outer-space pb-4 tagline-top">
    <h4 class="font-weight-400">Nous attachons une importance particulière au recrutement et à la formation de nos équipes, afin de porter une de nos valeurs principales: replacer l’humain au coeur de nos activités. </h4>
  </div>
</div>

<!-- CTA qui vient se positionner sur la div verte -->

<div class="d-flex justify-content-center mt-n4">
  <div class="button-crimson2">
    <a href="https://www.monster.fr/emploi/c-gestion-loick-fouchet.aspx" target="blank"><h4 class="text-color-white m-0 font-weight-500">Voir nos offres</h4></a>
  </div>
</div>

<%= render 'shared/numbers' %>

