<div style="height: 13vh;"></div>

<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center padding-5-t-b">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Syndic de Copropriété</h1>
  <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100 padding-5-l-r-none-small">De l’organisation d’assemblées générales à l’éxecution des décisions qui en découlent, en passant par des contrats d’assurance immeuble avec des étendues de garanties avantageuses, nous assurons une gestion complète de la copropriété. </h4>
  </div>
</div>

<!-- CTA qui vient se positionner sur la div verte -->


<div class="d-flex justify-content-center margin-top-1-6">
  <div class="button-crimson2 box-shadow-two-black">
    <a href="https://www.orchestrav2.egiweb.net" target="blank"><h5 class="m-0 font-weight-500">Accèder à l'extranet</h5></a>
  </div>
</div>

<!-- texte photo -->

<div class="my-5">
  <%= render 'services/textphotoglf6' %>
</div>

<!-- texte photo -->

<div class="my-5">
  <%= render 'services/textphotoglf7' %>
</div>

<%= render 'shared/numbers' %>
