.background-color-crimson {
  background-color: $crimson;
}

.background-color-warm-black {
  background-color: $warm-black;
}

.background-color-outer-space {
  background-color: $outer-space;
}

.background-color-charleston-green {
  background-color: $charleston-green;
}

.background-color-ghost-white {
  background-color: $ghost-white;
}


.background-color-glf-white {
  background-color: $glf-white;
}

.background-color-white {
  background-color: white;
}

.background-color-transparent {
  background-color: transparent;
}

.background-color-cases {
  background-color: rgba(0,0,0,0.04);
}
