.border-top-5px-crimson {
  border-top: 5px solid $crimson;
}

.border-top-5px-amaranth {
  border-top: 5px solid $amaranth;
}

.border-top-5px-light-carmine-pink {
  border-top: 5px solid $light-carmine-pink;
}

.border-top-5px-ruddy-pink {
  border-top: 5px solid $ruddy-pink;
}
