.border-top-5px-crimson {
  border-top: 6px solid $crimson;
  border-radius: 4px;
}

.border-top-5px-amaranth {
  border-top: 6px solid $amaranth;
  border-radius: 4px;
}

.border-top-5px-light-carmine-pink {
  border-top: 6px solid $light-carmine-pink;
  border-radius: 4px;
}

.border-top-5px-ruddy-pink {
  border-top: 6px solid $ruddy-pink;
  border-radius: 4px;
}
