.font-weight-100 {
  font-weight: 100;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.line-height-38 {
  line-height: 38px;
}

.line-height-51 {
  line-height: 51px;
}
