@include media-breakpoint-only(xs) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  .bullet-font {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
  .glf-font {
    font-size: 56px;

  }
}
@include media-breakpoint-only(sm) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  .bullet-font {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
  .glf-font {
    font-size: 56px;

  }
}
@include media-breakpoint-only(md) {

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
  }

  .bullet-font {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
  .glf-font {
    font-size: 56px;

  }
}
@include media-breakpoint-only(lg) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .bullet-font {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
  .glf-font {
    font-size: 56px;

  }
}
@include media-breakpoint-only(xl) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .bullet-font {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
  .glf-font {
    font-size: 56px;

  }
}


@include media-breakpoint-only(xs) {
  .big-title-line-height {
    line-height: 25px;
  }
  .small-text-line-height {
    line-height: 25px;
  }
}
@include media-breakpoint-only(sm) {
  .big-title-line-height {
    line-height: 28px;
  }
  .small-text-line-height {
    line-height: 25px;
  }
}
@include media-breakpoint-only(md) {
  .big-title-line-height {
    line-height: 38px;
  }
  .small-text-line-height {
    line-height: 28px;
  }
}
@include media-breakpoint-only(lg) {
  .big-title-line-height {
    line-height: 51px;
  }
  .small-text-line-height {
    line-height: 28px;
  }
}
@include media-breakpoint-only(xl) {
  .big-title-line-height {
    line-height: 51px;
  }
  .small-text-line-height {
    line-height: 38px;
  }
}

