.height-12vh {
  height: 12vh;
}

.height-13vh {
  height: 13vh;
}

.height-15vh {
  height: 15vh;
}

.height-16vh {
  height: 16vh;
}

.height-20vh {
  height: 20vh;
}

.height-40vh {
  height: 40vh;
}

.height-50vh {
  height: 50vh;
}

.height-65vh {
  height: 65vh;
}

.height-70vh {
  height: 70vh;
}

.height-75vh {
  height: 75vh;
}

.height-78vh {
  height: 78vh;
}

.height-80vh {
  height: 80vh;
}

.height-90vh {
  height: 90vh;
}

.height-100vh {
  height: 100vh;
}
