.height-20vh {
  height: 20vh;
}

.height-80vh {
  height: 80vh;
}

.height-15vh {
  height: 15vh;
}

.height-70vh {
  height: 70vh;
}


.height-75vh {
  height: 75vh;
}

.height-90vh {
  height: 90vh;
}

.height-9vh {
  height: 9vh;
}

.height-100vh {
  height: 100vh;
}
