// .box-shadow-one-black {
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
// }

.box-shadow-two-black {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.box-shadow-one-white {
  box-shadow: 0px 2px 4px 0px rgba(254, 254, 254, 0.1);
}

.box-shadow-two-white {
  box-shadow: 0px 5px 15px 0px rgba(254, 254, 254, 0.1), 0px 2px 4px 0px rgba(254, 254, 254, 0.1);
}

.box-shadow-third-black {
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.text-shadow-one-black {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 5px 15px rgba(0, 0, 0, 0.08);
}

// .text-shadow-two-black {
//   text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
// }

.text-shadow-one-white {
  text-shadow: 0px 2px 4px rgba(254, 254, 254, 0.1);
}

.text-shadow-two-white {
  text-shadow: 0px 5px 15px rgba(254, 254, 254, 0.1);
}
