.text-color-crimson {
  color: $crimson;
}

.text-color-warm-black {
  color: $warm-black;
}

.text-color-outer-space {
  color: $outer-space;
}

.text-color-charleston-green {
  color: $charleston-green;
}

.text-color-ghost-white {
  color: $ghost-white;
}


.text-color-glf-white {
  color: $glf-white;
}

.text-color-white {
  color: white;
}
