.button-crimson {
  padding: 10px;
  background-color: $crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.button-crimson2 {
  padding: 15px;
  background-color: $crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
