/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  .fas {
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
    transform: rotate(0deg);
   -webkit-transition-duration: 0.15s;
   -moz-transition-duration: 0.15s;
   -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 4px;
  display: none;
  position: absolute;
  font-weight: 500;
  background-color: $glf-white;
  min-width: 220px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   -webkit-transition-duration: 0.25s;
   -moz-transition-duration: 0.25s;
   -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 10px 30px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-weight: 600;
  color: $warm-black;
   -webkit-transition-duration: 0.25s;
   -moz-transition-duration: 0.25s;
   -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.dropdown:hover {
  .fas {
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
    transform: rotate(180deg);
   -webkit-transition-duration: 0.15s;
   -moz-transition-duration: 0.15s;
   -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }
