#contact input[type=submit] {
  border: none;
  width: 20%;
}

#contact input:focus {
  outline: none;
}

#contact select {
  color: gray !important;
}

@include media-breakpoint-only(xs) {
  #contact textarea {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=text] {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=file] {
    color: gray !important;
    border: none;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 5px 6px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(sm) {
  #contact textarea {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=text] {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=file] {
    color: gray !important;
    border: none;

  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 5px 6px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(md) {
  #contact textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=file] {
    color: gray !important;
    border: none;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }

}
@include media-breakpoint-only(lg) {
  #contact textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=file] {
    border: none;
    color: gray !important;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(xl) {
  #contact textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact input[type=file] {
    border: none;
    color: gray !important;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}

// pour contact form 2

#contact-2 input[type=submit] {
  border: none;
  width: 20%;
}

#contact-2 input:focus {
  outline: none;
}

#contact-2 select {
  color: gray !important;
}

@include media-breakpoint-only(xs) {
  #contact-2 textarea {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=text] {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=file] {
    color: gray !important;
    border: none;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 5px 6px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(sm) {
  #contact-2 textarea {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=text] {
    width: 100%;
    padding: 5px 6px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=file] {
    color: gray !important;
    border: none;

  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 5px 6px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(md) {
  #contact-2 textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=file] {
    color: gray !important;
    border: none;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }

}
@include media-breakpoint-only(lg) {
  #contact-2 textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=file] {
    border: none;
    color: gray !important;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-only(xl) {
  #contact-2 textarea {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=text] {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background-color: rgba(0,0,0,0.04);
  }
  #contact-2 input[type=file] {
    border: none;
    color: gray !important;
  }
  .background-gray {
    background-color: rgba(0,0,0,0.04);
    border: none;
    padding: 10px 12px;
    color: gray !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
    }
  }
}

