@include media-breakpoint-only(xs) {
  .margin-5-l-r {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@include media-breakpoint-only(sm) {
  .margin-5-l-r {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@include media-breakpoint-only(md) {
  .margin-5-l-r {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@include media-breakpoint-only(lg) {
  .margin-5-l-r {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@include media-breakpoint-only(xl) {
  .margin-5-l-r {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}


.margin-top-1-6 {
  margin-top: -1.6rem;
}
