@include media-breakpoint-only(xs) {
  .navbar {
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  .navbar {
    display: none;
  }
}
@include media-breakpoint-only(md) {
  .navbar-mobile {
    display: none !important;
  }

  .overlay {
    display: none !important;
  }
}
@include media-breakpoint-only(lg) {
  .navbar-mobile {
    display: none !important;
  }

  .overlay {
    display: none !important;
  }
}
@include media-breakpoint-only(xl) {
  .navbar-mobile {
    display: none !important;
  }

  .overlay {
    display: none !important;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}
