@include media-breakpoint-only(xs) {
  .padding-5-l-r {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-5-l-r {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-5-l-r {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-5-l-r {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-5-l-r {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-5-l-r-m-5-l-r {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-5-l-r-m-5-l-r {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-5-l-r-m-5-l-r {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-5-l-r-m-5-l-r {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-5-l-r-m-5-l-r {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-5-l-r-none-small {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-5-l-r-none-small {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-5-l-r-none-small {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-5-l-r-none-small {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-5-l-r-none-small {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-5-t-b {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-5-t-b {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-5-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-5-t-b {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-3-t-b {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-3-t-b {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-3-t-b {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-3-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-3-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-3-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-t-5 {
    padding-top: 1rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-t-5 {
    padding-top: 1rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-t-5 {
    padding-top: 2rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-t-5 {
    padding-top: 3rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-t-5 {
    padding-top: 3rem;
  }
}

@include media-breakpoint-only(xs) {
  .padding-b-4 {
    padding-bottom: 0.5rem;
  }
}
@include media-breakpoint-only(sm) {
  .padding-b-4 {
    padding-bottom: 0.5rem;
  }
}
@include media-breakpoint-only(md) {
  .padding-b-4 {
    padding-bottom: 1.5rem;
  }
}
@include media-breakpoint-only(lg) {
  .padding-b-4 {
    padding-bottom: 1.5rem;
  }
}
@include media-breakpoint-only(xl) {
  .padding-b-4 {
    padding-bottom: 1.5rem;
  }
}
