@include media-breakpoint-only(xs) {
  .textphoto-desktop {
    display: none
  }

  .textphoto-ipad {
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  .textphoto-desktop {
    display: none
  }

  .textphoto-ipad {
    display: none;
  }
}
@include media-breakpoint-only(md) {
  .textphoto-desktop {
    display: none
  }

  .textphoto-mobile {
    display: none
  }
}

@include media-breakpoint-only(lg) {
  .textphoto-mobile {
    display: none
  }

  .textphoto-ipad {
    display: none;
  }
}
@include media-breakpoint-only(xl) {
  .textphoto-mobile {
    display: none
  }

  .textphoto-ipad {
    display: none;
  }
}
